*{
  font-family: "League Spartan", sans-serif;
  
}
body {
    /* margin: 0;
    padding: 0; */
    background-image: url('car2.jpg'); 
    /* background-position: bottom left; */
    /* background-position: left; /* Adjust position to left and center vertically */
    background-size: cover; 
    
}
.login {
  position: absolute;
  background-color: white;
  top: 10%;
  bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60%;
  text-align: center;
  border-radius: 30px;
}
#car{
  margin-top: 0px;
  height: 250px;
  width: 400px;
}
h1 {
  font-size: 13px;
  font-style: normal;
  color: red;
  margin-top:-40px;
}
p1, p2{
    font-size:14px;
}
#logo {
  margin-top: -60px;
  width: 150px;
  height: 150px;
}
.signup-form {
    padding-top:25px;
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 10px;
    margin-left:0px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 10px;
    width:250px;
}
#signup{
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 10px;
    padding-right:30px;
    padding-left:30px;
    background-color:rgb(236,31,36) ;
    color:white;
    font-size: 15px;
}
