body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "League Spartan", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.background {
  /* background-image: url("../public/image/car2.jpg");
  background-size: cover; */
  width: 100%;
  height: 100vh;
}
.login {
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  top: 10%;
  bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60%;
  text-align: center;
  border-radius: 30px;
}
.signup-form {
  padding-top: 25px;
  max-width: 300px;
  margin: 0 auto;
}
.forgot-link {
  margin-right: -150px;
  font-size: 14px;
  color: red;
  text-decoration: none;
}
.switch {
  margin-top: 20px;
  font-size: 14px;
}
.signup-switch {
  font-size: 14px;
  color: red;
  text-decoration: none;
}
.login-switch {
  font-size: 14px;
  color: red;
  text-decoration: none;
}
.reset {
  position: absolute;
  background-color: white;
  border: 2px solid grey;
  top: 10%;
  bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  text-align: center;
  border-radius: 30px;
}
/* .forgotpwd-form {
  margin-top: -30px;
} */
.home-logo {
  width: 80px;
  margin-left: 50px;
  margin-right: 200px;
  margin-top: 20px;
}
.sign-in {
  background: red;
  color: white;
  border-radius: 0.5rem;
  padding: 10px 20px;
  width: 100px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 100px;
}
.sign-up {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
}
.signup-form {
  margin-top: -10px;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url(../public/image/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eeeff1;
  background-size: cover;
  display: grid;
  align-items: center;
}
.step {
  width: 80%;
  margin-left: 10%;
}
.form-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 150px;
  right: 150px;
  background: white;
  padding: 20px;
  border-radius: 0.5rem;
}
.text {
  margin-top: -300px;
}
.rental-image {
  width: 500px;
  border-radius: 1rem;
}
.image-about {
  width: 50%;
  margin-left: 100px;
}
.features {
  margin-top: 300px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list {
  width: 50%;
  margin-top: -100px;
}
.packages,
.main-cars {
  text-align: center;
  margin-top: 60px;
}
.packages h,
.main-cars h {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  align-items: center;
  color: rgb(53, 53, 97);
}
.packages p,
.main-cars p {
  font-size: 15px;
  text-align: center;
  align-items: center;
  color: grey;
}
.footer {
  display: flex;
  gap: 20px;
  background-color: black;
  color: white;
  padding-left: 100px;
  justify-content: space-around;
}
.bottom {
  min-height: 50vh;
  margin-top: 80px;
  background-color: black;
  color: white;
}
.copyright {
  margin-left: 100px;
}
.footer h2 {
  font-size: 20px;
}
.footer p {
  font-size: 14px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-main {
  display: flex;
  margin-left: 250px;
  margin-right: 40px;
  margin-top: 150px;
  height: 100vh;
}
.table {
  display: flex;
  margin-left: 250px;
  margin-right: 40px;
  margin-top: -420px;
}
.cars {
  display: flex;
  margin-left: 200px;
  height: 100vh;
}
.heading {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -250px;
}
.edit-icon:hover {
  cursor: pointer;
  color: red;
}
.delete-icon:hover {
  cursor: pointer;
  color: red;
}
.bookings-table {
  display: flex;
  margin-left: 250px;
  margin-top: 20px;
}
.main-booking {
  display: flex;
  padding-top: 30px;
  padding-left: 80px;
  gap: 50px;
}
.left-card {
  width: 35%;
  border-radius: 10px;
  height: max-content;
  border: 1px solid rgb(232, 230, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.right-cards {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 10px;
  gap: 20px;
}

/* .right-card {
  background-color: rgb(237, 237, 237);
  margin-bottom: 20px; 
  padding: 20px;
  border-radius: 10px;
  flex: 1;
} */
