@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: red;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
section {
  padding: 50px 100px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 15px 100px;
}
.logo img {
  width: 80px;
}
.navbar {
  display: flex;
}
.navbar li {
  position: relative;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
}
.navbar a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.header-btn a {
  padding: 10px 20px;
  color: black;
  font-weight: 500;
}
.header-btn .sign-in {
  background: red;
  color: white;
  border-radius: 0.5rem;
}
.home {
  width: 10 0%;
  min-height: 100vh;
  position: relative;
  background-image: url(../public/image/home.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #eeeff1;
  display: grid;
  align-items: center;
}
.text {
  margin-top: -100px;
}
.text h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}
.text span {
  color: red;
}
.text p5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 150px;
  right: 150px;
  background: white;
  padding: 20px;
  border-radius: 0.5rem;
}
.input-box {
  /* flex:1 1 7rem; */
  display: flex;
  flex-direction: column;
}
.input-box span {
  font-weight: 500;
}
.input-box input {
  padding: 15px;
  width: 300px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}
#submit {
  padding: 15px;
  border: none;
  border-radius: 0.5rem;
  background: red;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  right: 200px;
}
